@import "vars";

main {
    margin-top: 9rem;
}
.a-1{
    @include center (center);
    flex-direction: column;
    img{
        width: 100%;
    }
}
@media (max-width: $break-s) {
    main{
        margin-top: 6rem;
    }
}