@import url(https://fonts.googleapis.com/css?family=Patua+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC');
@import "vars";

body {
    background: $background;
    @include size (100%);
    margin: 0;
    box-sizing: border-box;
    color: $color;
    font: $text;
}
section{
    display: flex;
    position: relative;
}

h1, h2, h3, h4, h5, h6{
    font: $headings;
    color: $color;
}
a{
    text-decoration: none;
    text-transform: none;
    color: $color;
}

ul{
    list-style: none;
    padding: 0;
}